:root {
    /* --full-screen-width: 768px; */
}

body {
    background-color: rgb(255, 254, 218);
}

.main-container {
    width: 70%;
    border: 2px rgb(222, 219, 255) solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px #00000050;
    background-color: rgb(239, 238, 255);
    padding: 5px;
    margin: 0px auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .main-container {
        width: 100%;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.centre-text {
    text-align: center;
}

.main-button {
    background-color: rgb(218, 223, 255);
    border: 0px rgb(222, 219, 255) solid;
    border-radius: 5px;
    min-width: 125px;
    min-height: 50px;
    transition: background-color 100ms;
}

.main-button:hover {
    background-color: rgb(246, 247, 253);
}

.main-button:active {
    background-color: rgb(201, 208, 252);
}


